<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chitter</title>
</head>
<body>
  <div>
    <p>Thank you for signing up to Chitter, to log in please click <a href="/sessions/new">here</a></p>
  </div>
</body>
</html>