<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up | Chitter</title>
</head>
<body>
  <div>
    <h1>Sign Up</h1>
  </div>

  <div>
    <a href="/peeps">Peeps</a>
  </div>
  <br>

  <div>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Enter your name" autocomplete="off" required>
      <input type="email" name="email" placeholder="Enter your email" autocomplete="off" required>
      <input type="password" name="password" placeholder="Enter your password" autocomplete="off" required>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div>
    <p>Already have an account? Log in <a href="/sessions/new">here</a></p>
  </div>
</body>
</html>